/* Minimap related styles */
.minimap-grid {
  border-collapse: collapse; /* Merges cell borders */
  table-layout: fixed;      /* Ensures consistent cell sizes */
}
.minimap-grid td {
  width: 30px;              /* Small square width */
  height: 30px;             /* Small square height */
  border: 1px solid black;
  padding: 0;               /* Remove default padding */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-tile {background: black;}
.unknown-tile {background: rgb(48, 48, 48);}
.visited-tile-default {background: darkgoldenrod;}
.current-tile-default {background: gold;}
.visited-tile-safe {background: gray;}
.current-tile-safe {background: white;}
.visited-tile-treasure {background: darkcyan;}
.current-tile-treasure {background: cyan;}
.visited-tile-shop {background: darkgreen;}
.current-tile-shop {background: limegreen;}
.visited-tile-boss {background: darkred;}
.current-tile-boss {background: crimson;}

/* Log related styles */
.scroll-list {
  height: 270px;       /* Fixed height is required for overflow to trigger */
  overflow-y: auto;    /* Adds scrollbar only if content overflows */
  padding: 10px;
  border: 1px solid #AAA;
  list-style: none;
  background: black;
  color: white;
}

/* Movement widget */

.cross-container {
  display: grid;
  grid-template-columns: 35px 35px 35px;
  grid-template-rows: 35px 35px 35px;
  justify-items: center;
  align-items: center;
}

.btn { width: 35px; height: 35px; }
.btn-text { width: 35px; height: 35px; align-content: center; text-align: center; }

.btn-top { grid-column: 2; grid-row: 1; }
.btn-left { grid-column: 1; grid-row: 2; }
.btn-middle { grid-column: 2; grid-row: 2; }
.btn-right { grid-column: 3; grid-row: 2; }
.btn-bottom { grid-column: 2; grid-row: 3; }

/* Scores table */

.score-table th,td {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 5px;
}

.score-table td:nth-child(odd), th:nth-child(odd) {
  background-color: #eeeeee;
}

.edge-left { border-left: 1px solid #ddd; }
.edge-right { border-right: 1px solid #ddd; }

/* General layout styles */
.flex-parent { display: flex; }
.flex-child { flex: 1; }
.flex-gap { column-gap: 20px; }

.align-center { 
  justify-content: center;
  align-items: center;
}

.parent { padding: 1rem }
.child { padding: 1rem }

/* Show the child when the parent is hovered */
.hidden-child { display: none; }
.hiding-parent:hover .hidden-child { display: block; }
.bold-on-hover:hover { font-weight: bold; }

.rarity-COMMON { color: grey; }
.rarity-UNCOMMON { color: blue; }
.rarity-RARE { color: magenta; }
.rarity-LEGENDARY { color: gold; }

.text-positive { color: green; }
.text-middling { color: darkorange; }
.text-negative { color: red; }

.text-100-magic { color: magenta; }
.text-50-magic { color: darkmagenta; }
.text-0-magic { color: black; }