/* Minimap related styles */
.minimap-grid {
  border-collapse: collapse; /* Merges cell borders */
  table-layout: fixed;      /* Ensures consistent cell sizes */
}
.minimap-grid td {
  width: 30px;              /* Small square width */
  height: 30px;             /* Small square height */
  border: 1px solid black;
  padding: 0;               /* Remove default padding */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-tile {
  background: black;
}

.unknown-tile {
  background: rgb(48, 48, 48);
}

.visited-tile-default {
  background: darkgoldenrod;
}

.current-tile-default {
  background: gold;
}

.visited-tile-safe {
  background: gray;
}

.current-tile-safe {
  background: white;
}

.visited-tile-treasure {
  background: darkcyan;
}

.current-tile-treasure {
  background: cyan;
}

.visited-tile-shop {
  background: darkgreen;
}

.current-tile-shop {
  background: limegreen;
}

.visited-tile-boss {
  background: darkred;
}

.current-tile-boss {
  background: crimson;
}

/* Log related styles */
.scroll-list {
  height: 270px;       /* Fixed height is required for overflow to trigger */
  overflow-y: auto;    /* Adds scrollbar only if content overflows */
  padding: 10px;
  border: 1px solid #AAA;
  list-style: none;
  background: black;
  color: white;
}

/* General layout styles */
.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

.parent {
  padding: 1rem
}
.child {
  /*border: 1px solid black; /*keep for visual debug until release*/
  padding: 1rem
}